VITE_API_PROVIDER=google-sheets
VITE_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/<DEPLOYMENT_ID>/exec
VITE_API_ALLOWED_HOSTS=script.google.com
VITE_INTERNAL_API_BASE_URL=
VITE_INTERNAL_API_ALLOWED_HOSTS=localhost,127.0.0.1
VITE_OBSERVABILITY_SINK=console
VITE_ENABLE_DEBUG_LOGS=false
