VITE_API_PROVIDER=google-sheets
VITE_EVENT_DATE=2026-04-02
VITE_SUPPORT_WHATSAPP_NUMBER=6281999386550
VITE_INCIDENT_RSVP_FALLBACK_ENABLED=true
VITE_API_CLIENT_ID=undangan-hbh-web
VITE_API_CLIENT_ORIGIN=
VITE_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/<DEPLOYMENT_ID>/exec
VITE_API_AUTH_TOKEN=
VITE_API_ALLOWED_HOSTS=script.google.com
VITE_INTERNAL_API_BASE_URL=
VITE_INTERNAL_API_ALLOWED_HOSTS=localhost,127.0.0.1
VITE_HEALTHCHECK_INTERVAL_MS=60000
VITE_HEALTHCHECK_WARN_LATENCY_MS=1500
VITE_HEALTHCHECK_ALERT_FAILURE_THRESHOLD=3
VITE_HEALTHCHECK_ALERT_COOLDOWN_MS=120000
VITE_OBSERVABILITY_SINK=console
VITE_ENABLE_DEBUG_LOGS=false
WHATSAPP_CALLMEBOT_APIKEY=
